<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logs</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <a href="{{ url_for('index') }}" class="button">Back to Home</a>
    </div>
    <div class="container">
        <h2>Footfall Logs</h2>
        <div class="log-table">
            {{ tables|safe }}
        </div>
    </div>
</body>
</html>
